* {
  text-decoration: none;
}
.card {
  /* width: 146.31px;
  height: 138.39px; */
  /* border-radius: 20px; */
  /* position: relative; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8.75rem;
  width: 9.125rem;
  margin: 15px;
  padding: 15px;
  border: 1px solid #003459;
  border-radius: 15px;
}
.smallcard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 126px;
  /* margin: 15px; */
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-top: -5px;
  padding: 15px;
  border: 1px solid #003459;
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.smallcrdimg {
  width: 40px;
}
.card2 {
  /* width: 146.31px;
  height: 138.39px; */
  /* border-radius: 20px; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 146px;
  margin: 15px;
  padding: 20px;
  border: 1px solid #003459;
  border-radius: 15px;
}

.CardImg {
  width: 65px;
  align-items: center;
  /* position: relative; */
}
.card div {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.cardOverlay2 {
  font-family: "Inter";
  font-style: normal;

  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  text-transform: capitalize;
  color: #003459;
}
.cardOverlay3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  text-transform: capitalize;
  color: #003459;
  display: none;
}
.cardOverlay {
  font-family: Inter;
  text-transform: uppercase;
  font-size: 12px;
  color: #003459;

  font-weight: 500;
  width: 100%;
  /* line-height: 5px; */
  letter-spacing: 0em;
  text-align: center;
}

.card2:hover .cardOverlay3 {
  display: block;
  cursor: pointer !important;
}
.card2:hover .cardOverlay2 {
  display: none;
}
.card2:hover {
  border: 10px solid #003459;
  height: 152px;
  width: 158px;
  margin: 9px;
}
.smallcard:hover {
  border: 10px solid #003459;
  height: 122px;
  width: 128px;
  /* margin: 9px; */
}
.card:hover {
  padding: 6px;
  height: 152px;
  width: 158px;
  margin: 9px;
  border: 10px solid #003459;
}
