/* .a {
    background-color: aqua;
} */

.track-container {
    display: flex;
    border: 3px solid rgba(244, 243, 244, 0.46);
    /* align-items: center; */
    justify-content: center;
    margin: 50px auto;
    padding: 20px 30px;
    width: 50%;
    background: rgba(244, 243, 244, 0.46);
    width: 60%;
    border-radius: 14px;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #d2d2d2;
  }
.secondary-container{
    width: 80%;
    height: 60vh;
}
.progress-checkout-container{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin-left: 67px;
    margin-top: 25px;
}

.progress-step-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.step-check{
    background-color: rgb(0, 132, 255);
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-bottom: 1rem;
    position: relative;
    /* background-image: url(Resources/check.svg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.progress-step-container:nth-of-type(3) .step-check::after{
    display: none;
}
.progress-step-container:nth-of-type(3) .step-check{
    background-image: none;
    background-color: white;
    border: 2px solid grey;
}

.progress-step-container:nth-of-type(2) .step-check::after{
    background-color: grey;
}

.progress-step-container:nth-of-type(2) .step-check{
    background-image: none;
    background-color: white;
    border: 2px solid rgb(0, 132, 255);
}

.step-check::after{
    content: "";
    width: 15vw;
    height: 2px;
    background-color: inherit;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(100%) translateY(-50%);
}

.step-title{
    color: grey;
}

.secondary-container h1 {
    text-align: center;
    padding: 5px
}

.detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.common{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px;
}

.track-error{
    width: 80%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}