.searchBar {
  width: 65vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  /* position: relative; */
  grid-area: item-2;
}

.searchBar .selectCategory,
.searchInput {
  height: 30px;
  font-size: 0.9rem;
}

.searchBar .selectCategory {
  width: 30%;
}

.searchBar .searchInput {
  width: 70%;
  position: relative;
}
.selectCategory0{
  height: 30px;
  font-size: 0.9rem;
  width: 30%;
}
.selectCategory0 select{ 
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 2px;
  padding-bottom: 4px;
  box-sizing: border-box;
}
.selectCategory select {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 2px;
  padding-bottom: 4px;
  box-sizing: border-box;
  text-transform: capitalize;
}
.selectCategory0 select option {
  display: none;
}
.selectCategory select option {
  text-transform: capitalize;
}

.searchInput input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 2px;
  padding-bottom: 4px;
  box-sizing: border-box;
  margin-left: 0.7px;
  padding-left: 30px;
}

.searchInput .fa-search {
  position: absolute;
  font-size: 16px;
  top: 7px;
  left: 5px;
}

.searchBar .searchResult {
  width: 37.8%;
  height: 250px;
  background-color: rgba(236, 236, 236, 0.989);
  position: absolute;
  top: 55%;
  left: 37.5%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  overflow-y: auto;
  /* display: none; */
}

.searchBar .searchResult .resultItem {
  margin-top: 8px;
  padding-left: 8px;
}

.searchBar .resultLink {
  text-decoration: none;
  color: black;
}
/* ========Media query======== */
@media screen and (max-width: 1200px) {
  .searchBar {
    width: 60vw;
  }
}
@media screen and (max-width: 1000px) {
  .searchBar {
    width: 55vw;
  }
}
@media screen and (max-width: 900px) {
  .right {
    width: 45vw;
  }
  .searchBar {
    width: 90vw;

    /* margin: 5px 0 3px 0; */

  }
}
@media screen and (max-width: 560px) {
  .searchInput {
    width: 100vw;
  }
  .searchInput input {
    border-radius: 4px;
  }
  .searchBar {
    width: 90vw !important;
    /* align-items: center; */
    margin: 10px 0;
    /* margin-bottom: 8px; */
  }
  .searchBar .searchInput {
    width: 100%;
    position: relative;
  }
}
