/* .rec-item-wrapper{
    width: 290.047px;
    padding: 200px;
} */
.miniNav {
  width: 90%;
  margin-left: 5%;
  margin-top: 50px;
  font-size: 1.1rem;
}

.miniNav .categoryElement {
  border: 1.5px solid gainsboro;
  border-radius: 18px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.4px;
  padding: 4px 8px;
  cursor: pointer;
  color: #000;
}

/* .bigcat div{
    width: 250px;
} */
.miniNav .categoryElementactive {
  border: 1.5px solid #003459;
  border-radius: 18px;
  background-color: #dcf2ff;
  color: #003459;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.4px;
  padding: 4px 7px;
  cursor: pointer;
}
.miniNav a {
  text-decoration: none;
}
.posterContainer,
.floorGraphicsContainer,
.signagesContainer,
.assetMarkingContainer {
  width: 90%;
  margin-left: 5%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-items: center;
  align-items: center;
  row-gap: 25px;
  padding-bottom: 10px;
}

.posterLoading {
  margin-bottom: 400px;
}
/* ============================paginate css==================== */

.paginate-container {
  /* width: 100vw; */
  /* overflow: hidden; */
  height: 35px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginate-container a {
  padding: 5px 12px;
  margin: 8px;
  border-radius: 5px;
  color: #003459;
  cursor: pointer;
  border: 1px solid #003459 !important;
}
.previous-btn a,
.next-btn a {
  border: none;
  text-decoration: none;
  color: #000;
}

.paginate-container a:hover {
  color: white;
  background-color: #9c9eeb;
}

.paginationContainer {
  width: 100%;
  margin-left: -4%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.active-paginate-btn a {
  color: white;
  background-color: #d0d0ef;
}

.disabled-btn a {
  color: grey;
}

/* ============================paginate css==================== */

/* STYLING FOR MOBILE VIEW  */

@media (max-width: 1000px) {
  .posterContainer,
  .floorGraphicsContainer,
  .signagesContainer,
  .assetMarkingContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 800px) {
  .posterContainer,
  .floorGraphicsContainer,
  .signagesContainer,
  .assetMarkingContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .posterContainer,
  .floorGraphicsContainer,
  .signagesContainer,
  .assetMarkingContainer {
    grid-template-columns: 1fr;
  }

  .paginate-container {
    height: 25px;
  }
  .paginate-container a {
    padding: 3px 6px;
    margin: 4px;
    font-size: 14px;
  }
}
